<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help Page</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>This page provides help and support information.</p>
    <p>If you have any questions, please email {{email}}</p>
    <p>{{message}}.</p>
  </body>
</html>
