<!DOCTYPE html>

<html lang="en">
  <head> 
    <link rel="stylesheet" href="./css/styles.css">
    <title>Static HTML File</title>
    <script src="./js/app.js"></script>
  </head>

  <body>
    <h1>{{title}}</h1>
    <p>This is an attempt at a dynamic website created by {{name}}</p>
  </body>
</html>
