<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Help Page</title>
  </head>
  <body>
    {{> header }}
    <p>If you have any questions, please email {{email}}</p>
    <p>{{message}}.</p>
    {{>footer}}
  </body>
</html>