<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./images/weather-icon.jpg" type="image/png">
  </head>

  <body>
    <div class="main-container">
      {{> header }}
      <p>{{errorMessage}}</p>
      <a href="/">Go back to home</a>
      
    </div>
    {{> footer}}
  </body>
</html>
