<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" href="./css/styles.css">
    <title>About Us</title>
  </head>

  <body>
    {{> header }}
    <img src="./images/Grad.jpg" alt="Me" style="width:300px;height:auto;">
    {{> footer}}
  </body>
</html>
