<!DOCTYPE html>
<html lang="en">

  <head> 
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./images/weather-icon.jpg" type="image/png">s
    <title>About</title>
  </head>

  <body>
    <div class="main-container">    
      {{> header }}
      <img class="portrait" src="./images/Grad.jpg" alt="Me">
    </div>

    {{> footer}}
  </body>

</html>
