<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="./images/weather-icon.jpg" type="image/png">
    <title>Help</title>
  </head>
  <body>
    <div class="main-container">
      {{> header }}
      <p>If you have any questions, please email {{email}}</p>
      <p>{{message}}</p>
    </div>

    {{> footer }}
  </body>
</html>